// colors
$white-color: #fff;
$black-color: #040404;
$text-color: #133457;
$text-dark-color: #07305d;

// media
$breakpoint_2150px: 2150px;
$breakpoint_1920px: 1920px;
$breakpoint_1850px: 1850px;
$breakpoint_1650px: 1650px;
$breakpoint_1100px: 1100px;
$breakpoint_900px: 900px;
$breakpoint_574px: 574px;

$desktop: 1440px;
$table: 767px;
$mobile: 420px;

// z-indexes
$contacts-z: 15;
