@import '../../../styles/variables.module';

.header {
  top: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 175px;
  transition:
    opacity 0.75s,
    filter 0.75s;

  @media screen and (max-width: $desktop) {
    margin-bottom: 125px;
  }

  @media screen and (max-width: $breakpoint_900px) {
    margin-bottom: 50px;
  }

  @media screen and (max-width: $table) {
    margin-bottom: 65px;
    margin-top: 20px;
  }

  @media screen and (max-width: $mobile) {
    margin-bottom: 50px;
  }
}

.blur {
  opacity: 0.5;
  filter: blur(5px);
  backdrop-filter: blur(10px);
}

.logo {
  padding: 10px 0;
  border-top: 1px solid $white-color;
  border-bottom: 1px solid $white-color;
  margin-right: 30px;

  @media screen and (max-width: $desktop) {
    margin-right: 0;
    width: 10%;
  }

  @media screen and (max-width: $table) {
    width: fit-content;
    height: 30px;
  }
}

.navContainer {
  width: 46%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $desktop) {
    width: 55%;
  }

  @media screen and (max-width: $breakpoint_900px) {
    width: 60%;
  }

  @media screen and (max-width: $table) {
    display: none;
  }

  .navItem {
    color: rgba($white-color, 0.5);
    letter-spacing: -0.5px;
    transition: color 0.5s;

    @media screen and (max-width: $desktop) {
      font-size: 14px;
    }

    @media screen and (max-width: $breakpoint_900px) {
      font-size: 12px;
    }

    &:hover {
      color: $white-color;
    }
  }
}

.contactsContainer {
  display: flex;
  align-items: center;
  transition: color 0.5s;

  @media screen and (max-width: $desktop) {
    width: 22.5%;
  }

  @media screen and (max-width: $table) {
    justify-content: space-between;
    width: 20vw;
  }

  @media screen and (max-width: $breakpoint_574px) {
    width: 25vw;
  }

  @media screen and (max-width: $mobile) {
    width: 35vw;
  }

  .menuImage {
    display: none;

    @media screen and (max-width: $table) {
      display: block;
    }
  }

  .phoneImage {
    stroke: $white-color;
    fill: transparent;
    margin-right: 15px;

    @media screen and (max-width: $desktop) {
      width: 15%;
    }

    @media screen and (max-width: $table) {
      width: 40px;
      height: 40px;
    }
  }

  .phone {
    color: $white-color;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: color 0.5s;

    @media screen and (max-width: $desktop) {
      font-size: 14px;
    }

    @media screen and (max-width: $table) {
      display: none;
    }

    &:hover {
      color: rgba($white-color, 0.85);
    }
  }
}
