@import '../../../styles/variables.module';

.buttonContainer {
  display: flex;
  cursor: pointer;
  width: 100%;

  @media screen and (max-width: $desktop) {
    align-items: center;
  }
}

.description {
  color: $text-color;
  font-size: 18px;
  padding: 25px;

  @media screen and (max-width: 1850px) {
    font-size: 1.2vw;
  }

  @media screen and (max-width: $desktop) {
    padding: 20px;
    font-size: 1.25vw;
  }

  @media screen and (max-width: 1100px) {
    padding: 20px 10px;
  }

  @media screen and (max-width: 900px) {
    font-size: 1.5vw;
    width: 75%;
  }

  @media screen and (max-width: $table) {
    display: none;
  }
}

.descriptionMobile {
  font-weight: 600;
  display: none;
  color: $text-color;
  font-size: 2vw;
  padding: 15px;

  @media screen and (max-width: $table) {
    display: block;
    width: 75%;
  }

  @media screen and (max-width: 574px) {
    font-size: 2vw;
    width: 85%;
  }

  @media screen and (max-width: $mobile) {
    padding: 5px;
    font-size: 3vw;
    // width: 100%;
  }
}

.recordButton {
  background-color: $white-color;
  color: $black-color;

  .description,
  .descriptionMobile {
    border-right: 2px solid $text-color;
  }

  .consultationImage {
    stroke: $text-color;
    fill: transparent;
  }
}

.freeButton {
  color: $white-color;
  border: 1px solid $white-color;

  .description,
  .descriptionMobile {
    color: $white-color;
    border-right: 2px solid $white-color;
  }

  .consultationImage {
    stroke: $white-color;
    fill: transparent;
  }
}

.consultationImage {
  @media screen and (max-width: $mobile) {
    width: 4vw;
    height: 4vw;
  }
}

.imageContainer {
  padding-left: 45px;
  padding-top: 38px;
  padding-right: 15px;
  padding-bottom: 10px;

  @media screen and (max-width: $desktop) {
    padding-top: 30px;
    padding-bottom: 5px;
    padding-left: 20px;
  }

  @media screen and (max-width: 900px) {
    padding-left: 45px;
  }

  @media screen and (max-width: $table) {
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 10px;
  }

  @media screen and (max-width: $mobile) {
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 0;
  }
}
